<div class="gallery-lightbox-container">
    <div class="gallery">
        <div class="gallery-img" *ngFor="let data of galleryData; let i = index">
            <img (click)="onPreviewImage(i)" [src]="data.src" [alt]="data.title">
        </div>
    </div>
    <div *ngIf="showMask" class="lightbox">
        <span *ngIf="showCount" class="count">{{currentIndex + 1}}/{{totalImageCount}}</span>
        <button *ngIf="previewImage" class="close-btn" (click)="onClosePreview()">
            <fa-icon class="icon" [icon]="faTimes"></fa-icon>
        </button>
        <button *ngIf="controls" class="btn-lightbox-carousel btn-prev" (click)="prev()">
            <i class="fas fa-arrow-circle-left icon-lightbox-carousel icon-prev"></i>
        </button>
        <button *ngIf="controls" class="btn-lightbox-carousel btn-next" (click)="next()">
            <i class="fas fa-arrow-circle-right icon-lightbox-carousel icon-next"></i>
        </button>

        <div *ngIf="previewImage" 
            class="lightbox-img">
        <img [src]="currentLightboxImage.src" [alt]="currentLightboxImage.title">
    </div>
    </div>
</div>